<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.mat.api.renderer">
      <renderer
            class="org.eclipse.mat.impl.chart.HtmlPieChartRenderer"
            result="org.eclipse.mat.query.IResultPie"
            type="html"></renderer>
   </extension>

</plugin>
