<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2010 SAP AG and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        SAP AG - initial API and implementation
 -->

<plugin>
	<extension point="org.eclipse.mat.ui.editorPanes">
		<pane id="PieChartPane" class="org.eclipse.mat.ui.internal.chart.PieChartPane">
			<result type="org.eclipse.mat.query.IResultPie" />
		</pane>
	</extension>
</plugin>
