<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="parser" name="Heap Dump Parser" schema="schema/parser.exsd"/>
   
	<extension point="org.eclipse.mat.api.factory">
		<factory impl="org.eclipse.mat.parser.internal.SnapshotFactoryImpl" />
	</extension>
</plugin>
