<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="MAT Target">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.6.0.I20100608-0911"/>
<unit id="org.eclipse.birt.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="com.ibm.dtfj.feature.feature.group" version="0.0.0"/>
<repository location="%workspaceUrl%"/>
</location>
</locations>
</target>
