[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	abandon = group ldap/tools.mat
	forgeAuthor = group ldap/tools.mat
	push = group ldap/tools.mat
	label-Code-Review = -2..+2 group ldap/tools.mat
	label-Verified = -1..+1 group ldap/tools.mat
	submit = group ldap/tools.mat
	deleteDrafts = group ldap/tools.mat
[access "refs/tags/*"]
	create = group ldap/tools.mat
	push = group ldap/tools.mat
	createTag = group ldap/tools.mat
	createSignedTag = group ldap/tools.mat
