<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="dtfj"
         name="DTFJ dumps"
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               base-type="org.eclipse.mat.JavaHeapDump"
               id="com.ibm.dtfj.base"
               name="%content-type.dtfj">
         </content-type>   
   </extension>
   <extension
         id="dynamic-dtfj"
         name="%dtfj-parser-name"
         point="org.eclipse.mat.parser.parser">
      <parser
            name="%dtfj-parser-files"
            fileExtension=""
            dynamic="org.eclipse.mat.dtfj.InitDTFJ$DynamicInfo"
            indexBuilder="org.eclipse.mat.dtfj.DTFJIndexBuilder"
            objectReader="org.eclipse.mat.dtfj.DTFJHeapObjectReader">
      </parser>
   </extension>
</plugin>
