<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mat.api.requestResolver">
      <resolver
            impl="org.eclipse.mat.jruby.resolver.JRubyScriptResolver">
      </resolver>
      <resolver
            impl="org.eclipse.mat.jruby.resolver.RubyStacktraceDumper">
      </resolver>
   </extension>
</plugin>
