<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2010 SAP AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        SAP AG - initial API and implementation
 -->

<plugin>
   <extension-point id="enhancer" name="%extension-point.enhancer.name" schema="schema/enhancer.exsd"/>
   
   <extension
         id="hprof"
         name="%parser.name"
         point="org.eclipse.mat.parser.parser">
      <parser
      		name="%parser.filetype.name"
            fileExtension="hprof,bin"
            indexBuilder="org.eclipse.mat.hprof.HprofIndexBuilder"
            objectReader="org.eclipse.mat.hprof.HprofHeapObjectReader">
      </parser>
   </extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
	    <content-type
		      id="org.eclipse.mat.HprofHeapDump"
		      base-type="org.eclipse.mat.JavaHeapDump"
	          describer="org.eclipse.mat.hprof.HprofContentDescriber"
	          file-extensions="hprof,bin,dmp"
		      name="%content-type.name.Hprof_Heap_Dump"
		      priority="normal">
		</content-type>
	</extension>
 <extension
       point="org.eclipse.mat.api.heapDumpProvider">
    <provider
          impl="org.eclipse.mat.hprof.acquire.JMapHeapDumpProvider">
    </provider>
 </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.mat.ui.Preferences"
            class="org.eclipse.mat.hprof.ui.HPROFPreferencePage"
            id="org.eclipse.mat.hprof.ui.HPROFPreferences"
            name="%hprofPreferencesTitle">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.mat.hprof.ui.PreferenceInitializer" />
   </extension>

</plugin>
