<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2010, 2021 SAP AG and IBM Corporation.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        SAP AG - initial API and implementation
        Andrew Johnson/IBM Corporation - HPROF export
 -->

<plugin>
   <extension-point id="enhancer" name="%extension-point.enhancer.name" schema="schema/enhancer.exsd"/>
   
   <extension
         id="hprof"
         name="%parser.name"
         point="org.eclipse.mat.parser.parser">
      <parser
      		name="%parser.filetype.name"
            fileExtension="hprof,bin,hprof.gz"
            indexBuilder="org.eclipse.mat.hprof.HprofIndexBuilder"
            objectReader="org.eclipse.mat.hprof.HprofHeapObjectReader">
         <contentTypeBinding
               contentTypeId="org.eclipse.mat.HprofHeapDump">
         </contentTypeBinding>
      </parser>
   </extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
	    <content-type
		      id="org.eclipse.mat.HprofHeapDump"
		      base-type="org.eclipse.mat.JavaHeapDump"
	          describer="org.eclipse.mat.hprof.describer.HprofContentDescriber"
	          file-extensions="hprof,bin,dmp"
		      name="%content-type.name.Hprof_Heap_Dump"
		      priority="normal">
		</content-type>
     <content-type
           base-type="org.eclipse.mat.HprofHeapDump"
           describer="org.eclipse.mat.hprof.describer.HprofGZIPContentDescriber"
           file-extensions="hprof.gz"
           file-patterns="*.hprof.gz"
           id="org.eclipse.mat.HprofGZIPHeapDump"
           name="%content-type.name.Hprof_GZIP_Heap_Dump"
           priority="normal">
     </content-type>
	</extension>
 <extension
       point="org.eclipse.mat.api.heapDumpProvider">
    <provider
          impl="org.eclipse.mat.hprof.acquire.JMapHeapDumpProvider">
    </provider>
 </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.mat.ui.Preferences"
            class="org.eclipse.mat.hprof.ui.HPROFPreferencePage"
            id="org.eclipse.mat.hprof.ui.HPROFPreferences"
            name="%hprofPreferencesTitle">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.mat.hprof.ui.PreferenceInitializer" />
   </extension>
   <extension
         point="org.eclipse.mat.report.query">
      <query
            impl="org.eclipse.mat.hprof.ExportHprof">
      </query>
   </extension>
   <extension
         id="export"
         point="org.eclipse.mat.report.report">
      <report
            description="%report.export.desc Export a HPROF file from the command line"
            file="reports/exporthprof.xml"
            id="export"
            name="%report.export.name __hidden__/Export HPROF">
      </report>
   </extension>
</plugin>
