<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.mat.api.nameResolver">
      <resolver impl="org.eclipse.mat.eclipse.EclipseNameResolver$EclipseClassLoaderResolver" />
      <resolver impl="org.eclipse.mat.eclipse.EclipseNameResolver$EclipseDefaultClassLoaderResolver" />
      <resolver impl="org.eclipse.mat.eclipse.EclipseNameResolver$StartupClassLoaderResolver" />
   </extension>
   <extension point="org.eclipse.mat.api.query">
      <query impl="org.eclipse.mat.eclipse.query.LeakingPlugins"/>
   </extension>
</plugin>
