<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.eclipse.mat.jruby.internal.StartupHandler" />
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.mat.jruby.internal.PreferenceInitializer" />
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.mat.jruby.ui.JRubyPreferencePage"
            id="org.eclipse.mat.jruby.preferences.JRubyPreferences"
            name="%PreferencePages.JRuby">
      </page>
   </extension>

</plugin>
