<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>
	<context id="oql">
		<description>Object Query Langauge (OQL) Syntax</description>
		<topic label="OQL Details" href="html/46/a4ff1a2cd752b7e10000000a155369/content.htm" />
	</context>
	<context id="org.eclipse.mat.ui.query.arguments">
		<description>TODO/description>
		<topic label="How to provide heap object arguments"
			href="html/46/9f9d1c446952b8e10000000a155369/content.htm#argumentWizard" />
	</context>
</contexts>
