<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2008, 2010 SAP AG and IBM Corporation.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        SAP AG - initial API and implementation
        IBM Corporation - javadoc
 -->

<plugin>

	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"/>
	</extension>

	<extension point="org.eclipse.help.contexts">
		<contexts file="context.xml" />
	</extension>

	<extension point="org.eclipse.ui.intro.configExtension">
		<!-- config extensions to the RCP welcome page -->		
		<configExtension configId="org.eclipse.mat.ui.rcp.introConfig" content="intro/all_tutorials.xml" />
		
		<!-- config extensions to the universal (IDE) Welcome Page -->
		<configExtension configId="org.eclipse.ui.intro.universalConfig" content="intro/overview_ide.xml" />
		<configExtension configId="org.eclipse.ui.intro.universalConfig" content="intro/tutorials_ide.xml" />
	</extension>

	<extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
		<category id="org.eclipse.mat.tutorials" name="Memory Analyzer"/>
		
		<cheatsheet 
				id="org.eclipse.mat.tutorials.object_query_language"
				contentFile="tutorials/object_query_language.xml"
				category="org.eclipse.mat.tutorials"
				name="OQL Tutorial" />

		<cheatsheet
				id="org.eclipse.mat.tutorials.basicTutorial"
				contentFile="tutorials/basic_tutorial.xml"
				category="org.eclipse.mat.tutorials"
				composite="false"
				name="Basics"/>

		<cheatsheet
				id="org.eclipse.mat.tutorials.component_report"
				contentFile="tutorials/component_report.xml"
				category="org.eclipse.mat.tutorials"
				composite="false"
				name="Component Report"/>

		<cheatsheet
				id="org.eclipse.mat.tutorials.bestFeaturesTutorial"
				contentFile="tutorials/best_features_tutorial.xml"
				category="org.eclipse.mat.tutorials"
				name="Best Features Tutorial"/>

		<cheatsheet
				id="org.eclipse.mat.tutorials.findingProblemsTutorial"
				contentFile="tutorials/memory_hunting.xml"
				category="org.eclipse.mat.tutorials"
				name="Finding Memory Problems Tutorial"/>
	</extension>

	<extension point="org.eclipse.pde.core.javadoc">
    <javadoc
          archive="false"
          path="doc">
       <plugin
             id="org.eclipse.mat.api">
       </plugin>
       <plugin
             id="org.eclipse.mat.parser">
       </plugin>
       <plugin
             id="org.eclipse.mat.report">
       </plugin>
       <plugin
             id="org.eclipse.mat.hprof">
       </plugin>
       <plugin
             id="org.eclipse.mat.dtfj">
       </plugin>
       <plugin
             id="org.eclipse.mat.ibmdumps">
       </plugin>
       <plugin
             id="org.eclipse.mat.ui">
       </plugin>
       <plugin
             id="org.eclipse.mat.jdt">
       </plugin>
       <plugin
             id="org.eclipse.mat.chart">
       </plugin>
       <plugin
             id="org.eclipse.mat.chart.ui">
       </plugin>
    </javadoc>
	</extension>
</plugin>
