<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2008, 2010 SAP AG and IBM Corporation.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        SAP AG - initial API and implementation
        IBM Corporation - javadoc
 -->

<plugin>

	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"/>
	</extension>

	<extension point="org.eclipse.help.contexts">
		<contexts file="context.xml" />
	</extension>

	<extension point="org.eclipse.ui.intro.configExtension">
		<!-- config extensions to the RCP welcome page -->		
		<configExtension configId="org.eclipse.mat.ui.rcp.introConfig" content="$nl$/intro/all_tutorials.xml" />
		
		<!-- config extensions to the universal (IDE) Welcome Page -->
		<configExtension configId="org.eclipse.ui.intro.universalConfig" content="$nl$/intro/overview_ide.xml" />
		<configExtension configId="org.eclipse.ui.intro.universalConfig" content="$nl$/intro/tutorials_ide.xml" />
		<configExtension configId="org.eclipse.ui.intro.universalConfig" content="$nl$/intro/whatsnew_ide.xml" />
	</extension>

	<extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
		<category id="org.eclipse.mat.tutorials" name="%cheatsheet.category.name"/>
		
		<cheatsheet 
				id="org.eclipse.mat.tutorials.object_query_language"
				contentFile="$nl$/tutorials/object_query_language.xml"
				category="org.eclipse.mat.tutorials"
				name="%cheatsheet.oql.name">
			<description>%cheatsheet.oql.description</description>
		</cheatsheet>

		<cheatsheet
				id="org.eclipse.mat.tutorials.basicTutorial"
				contentFile="$nl$/tutorials/basic_tutorial.xml"
				category="org.eclipse.mat.tutorials"
				composite="false"
				name="%cheatsheet.basic.name">
			<description>%cheatsheet.basic.description</description>
		</cheatsheet>

		<cheatsheet
				id="org.eclipse.mat.tutorials.component_report"
				contentFile="$nl$/tutorials/component_report.xml"
				category="org.eclipse.mat.tutorials"
				composite="false"
				name="%cheatsheet.component.name">
			<description>%cheatsheet.component.description</description>
		</cheatsheet>

		<cheatsheet
				id="org.eclipse.mat.tutorials.bestFeaturesTutorial"
				contentFile="$nl$/tutorials/best_features_tutorial.xml"
				category="org.eclipse.mat.tutorials"
				name="%cheatsheet.best.name">
			<description>%cheatsheet.best.description</description>
		</cheatsheet>

		<cheatsheet
				id="org.eclipse.mat.tutorials.findingProblemsTutorial"
				contentFile="$nl$/tutorials/memory_hunting.xml"
				category="org.eclipse.mat.tutorials"
				name="%cheatsheet.finding.name">
			<description>%cheatsheet.finding.description</description>
		</cheatsheet>
	</extension>

	<extension point="org.eclipse.pde.core.javadoc">
    <javadoc
          archive="false"
          path="doc">
       <plugin
             id="org.eclipse.mat.api">
       </plugin>
       <plugin
             id="org.eclipse.mat.parser">
       </plugin>
       <plugin
             id="org.eclipse.mat.report">
       </plugin>
       <plugin
             id="org.eclipse.mat.hprof">
       </plugin>
       <plugin
             id="org.eclipse.mat.dtfj">
       </plugin>
       <plugin
             id="org.eclipse.mat.ibmdumps">
       </plugin>
       <plugin
             id="org.eclipse.mat.ui">
       </plugin>
       <plugin
             id="org.eclipse.mat.jdt">
       </plugin>
       <plugin
             id="org.eclipse.mat.chart">
       </plugin>
       <plugin
             id="org.eclipse.mat.chart.ui">
       </plugin>
    </javadoc>
	</extension>
</plugin>
