<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.mat.api.nameResolver">
      <resolver impl="org.eclipse.mat.jetty.NameResolvers$WebAppClassLoaderResolver"/>
      <resolver impl="org.eclipse.mat.jetty.NameResolvers$JasperLoaderResolver"/>
   </extension>
   
   <extension point="org.eclipse.mat.api.requestResolver">
      <resolver impl="org.eclipse.mat.jetty.thread.JettyRequestResolver"/>
   </extension>

</plugin>
